
@{
    ViewData["Title"] = "BuyingComplete";
}

<h2>Buying Complete</h2>

<h1>Thank you for Buying movie with Our app </h1>

<a asp-controller="Home" asp-action="Index" class="btn btn-danger">View all Movies</a>

<a asp-controller="Movie" asp-action="GetMovie" class="btn btn-danger">Get another movie</a>


