
@{
    ViewData["Title"] = "UploadingComplete";
}

<h2>Uploading Complete</h2>

<h1>Thank you for Uploading movie in Our app </h1>

<a asp-controller="Home" asp-action="Index" class="btn btn-danger">View all Movies</a>

<a asp-controller="Movie" asp-action="GetMovie" class="btn btn-danger">Get movie</a>

<a asp-controller="Movie" asp-action="UploadMovie" class="btn btn-danger">Upload another movie</a>
